.events{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 640px;
}

.event{
    margin: 0;
    margin-top: 50px;
    display: flex;
    width: 80%;
    
}

.event__img{
    height: 100px;
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event__content{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 30px;
}

.event__title{
    margin: 0;
}

.event__desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.pagination{
    display: flex;
}

.number{
    padding: 4px 9px;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
}